<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        EXTERNO
    </title>
    <link rel="stylesheet" href="../Public/Formatos_externos.css">
</head>
<body>

    <table border="3">
        <tr>
            <th colspan="4" class="nombre">
                INTERNO
            </th>
        </tr>
        <tr>
            <!-- nombre  input-->
            <td>
                <label for="nombres" class="nombre" >
                    Ingrese sus nombres: 
                </label>
            </td>
            <td>
                <input  
                    type="text" 
                    name="nombres" 
                    id="nombres"
                    placeholder="Ejemplo Josue"
                    maxlength="20"
                    required
                    pattern="[a-z]{20}"
                    class="nombre"
                >
            </td>

            <!-- area -->
            <td>
                 <label for="area" class="area">
                    area
                </label>
            </td>
            <td>
                <textarea 
                class="area"
                placeholder="escriba"
            >
            </textarea>
            </td>
        </tr>
        <tr>
            <!-- apellido checkbock-->
            <td colspan="4">
                <label for="CHANGO1" class="apellido">CHANGO</label>
                <input type="checkbox" name="materias[]" id="CHANGO1" value="CHANGO1" class="apellido">
                <label for="PEREZ1" class="apellido">PEREZ</label>
                <input type="checkbox" name="materias[]" id="PEREZ1" value="PEREZ1" class="apellido">
            </td>
        </tr>
        <tr>
            <!--  select-->
            <td >
                <select 
                    name="carrera" 
                    id="carrera"
                    required
                    
                >
                    <option value="SOFTWARE"  selected>SOFTWARE</option>
                    <option value="TICS"  selected>TICS</option>
                    <option value="MEDICINA"  selected>MEDICINA</option>
                    <option value="INDUSTRIAL"  selected>INDUSTRIAL</option>
                    <option value="CIVIL"  selected>CIVIL</option>
                </select>
            </td>
            <!-- genero radio -->
            <td colspan="3">
                <label for="hombre" >
                    HOMBRE
                </label>
                <input 
                    
                    type="radio" 
                    name="genero" 
                    id="hombre" 
                    value="hombre"
                >
                <label for="mujer" >
                    MUJER
                </label>
                <input 
                    
                    type="radio" 
                    name="genero" 
                    id="mujer" 
                    value="mujer"
                >
            </td>
        </tr>
    </table>
    
    <!--  -->
            <hr><hr><hr>

    <table border="3">
        <tr>
            <th colspan="4" >
                EN LINEA
            </th>
        </tr>
        <tr>
            <td>
                <!-- nombre  input-->
                <label for="nombres"  >
                    Ingrese sus nombres: 
                </label>
            </td>
            <td>
                <input  
                    type="text" 
                    name="nombres" 
                    id="nombres"
                    placeholder="Ejemplo Josue"
                    maxlength="20"
                    required
                    pattern="[a-z]{20}"

                >
            </td>
            <td colspan="2">
                 <!-- apellido checkbock-->
                <label for="chango" >chango</label>
                <input type="checkbox" name="materias[]" id="chango" value="chango" >
                <label for="PEREZ" >PEREZ</label>
                <input type="checkbox" name="materias[]" id="PEREZ" value="PEREZ" >
            </td>
            
        </tr>
        <tr>
            <td>
                <!--  select-->
                <select 
                    name="carrera" 
                    id="carrera"
                    required
                    
                >
                    <option value="SOFTWARE"  selected>SOFTWARE</option>
                    <option value="TICS"  selected>TICS</option>
                    <option value="MEDICINA"  selected>MEDICINA</option>
                    <option value="INDUSTRIAL"  selected>INDUSTRIAL</option>
                    <option value="CIVIL"  selected>CIVIL</option>
                </select>
            </td>
            <td>
                    <!-- genero radio -->

                <label for="hombre" >
                    HOMBRE
                </label>
                <input 
                    
                    type="radio" 
                    name="genero" 
                    id="hombre" 
                    value="hombre"
                    
                >
                <label for="mujer" >
                    MUJER
                </label>
                <input 
                    
                    type="radio" 
                    name="genero" 
                    id="mujer" 
                    value="mujer"
                    
                >
            </td>
            <td>
                <!-- area -->
                <label for="area">
                    area
                </label>
                <textarea 
                    
                    placeholder="escriba"
                >
                </textarea>
            </td>
        </tr>
    </table>
    <br>
    
    <br>
    
</body>
</html>