.nombre{
    transition: border-color 0.3s ease-in-out;
    text-decoration: underline;
    text-transform: uppercase;
    color: blue;
}
.radio{
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 10px red;
    cursor: pointer;
}
.area{
    letter-spacing: 25px;
    overflow: hidden;
    line-height: 50px;
    color-scheme: dark;
    outline:invert;
    max-width: 600px;
    min-width: 200px;
    max-width: 600px;
    min-height: 200px;
}
.apellido{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    color: green;
}
.select{
    direction: ltr;
}